.typingTest {
    transition: all 0.25s ease 0s;
    animation: fade-in .4s;

    .middle {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .timer {
        color: #9e04bd;
        font-size: 1.5rem;
        margin-left: 0.37rem;
    }
    
    .wordWrapper {
        overflow: hidden;
        height: 108px;
        margin: 1rem 0 2.5rem;
    
        .type-box {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            align-items: center;
            user-select: none;
            height: 156px;
            padding-bottom: 1em;
            color: #444444;
    
            .word {
                position: relative;
                margin: 0 0.37rem 0.74rem;
                font-size: 1.5rem;
                line-height: 1.5rem;
                border-bottom: 2px solid transparent;
    
                transition: all 0.25s ease 0s;
                animation: fade-in .4s;
        
                &.wrong {
                    // color: #444444;
                    border-bottom: 2px solid #9e04bd;
                }
            }
            
            span.right {
                color: #ededed;
            }
        
            span.wrong {
                color: #9e04bd;
            }
        
            .extra {
                opacity: 0.6;
            }
        
            #caret {
                transition: left 0.1s ease;
                margin-left: -7.29165px;
                width: 2px;
                position: absolute;
                color: #9e04bd;
        
                &.blink {
                    animation: blink 1.5s infinite 1s;
                }
            }
            
            @keyframes blink {
                0%,
                100%{
                    opacity: 1;
                }
                50%{
                    opacity: 0;
                }
            }
        }
    }
}